# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# NutriVision AI Specific
instance/
datasets/
runs/
uploads/
yolov8n.pt
yolov8n-cls.pt
.DS_Store
.env
.vscode/
.idea/
*.log
*.db
